.we {
    background-color:  fuchsia;
}

.we2 {
    background-color:  red;
}

.we3 {
    background-color:  rgb(191, 191, 201);
}

.we4 {
    background-color:  brown;
}

.we5 {
    background-color:  chartreuse;
}

.we6 {
    background-color:  palevioletred;
}

.we7 {
    background-color:  rgb(230, 230, 240);
}

.we8 {
    background-color:  gold;
}

.we9 {
    background-color:  green;
}

.we10 {
    background-color:  wheat;
}

.we11 {
    background-color:  darkgray;
}