.we {
    border: 1.5px dashed fuchsia;
}

.we2 {
    border: 1.5px dashed red;
}

.we3 {
    border: 1.5px dashed blue;
}

.we4 {
    border: 1.5px dashed brown;
}

.we5 {
    border: 1.5px dashed chartreuse;
}

.we6 {
    border: 1.5px dashed palevioletred;
}

.we7 {
    border: 1.5px dashed navy;
}

.we8 {
    border: 1.5px dashed red;
}

.we9 {
    border: 1.5px dashed green;
}