/* HEADER */
.bg-header {
    background-color:  #2c3e50;
    height: 100px;
}

.hamburger-list {
    color: #888888;
    border: 1px solid white;
    border-radius: 5px;
}


/* JUMBO */
.img-avatar img {
    max-width: 280px;
}

.bgr-color-jumbo {
    background-color:  #1abc9c;
}

.white-line {
    width: 150px;
    height: 5px;
    border-radius: 5px;
}


/* PORTFOLIO */
.black-line {
    width: 150px;
    height: 5px;
    border-radius: 5px;
}

.portfolio-img img {
    max-width: 100%;
    border-radius: 15px;
}

/* ABOUT */
.bgr-color-about {
    background-color:  #1abc9c;
    padding: 70px 0;
}


/* CONTACT ME */
.text_area {
    border: none;
    border-bottom: 1px solid #e9ecef;
}


/* INFO */
.bgr-color-info {
    background-color: #3a546d;
}

/* FOOTER */
.bgr-color-foot {
    background-color: #2c3e50;

}